In [39]:
import numpy as np
import pandas as pd

In [ ]:
List of Some Statistical Functions in Python Pandas

In [50]:
df = pd.read_csv("C:/Users/nurda/Salaries.csv")
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [51]:
df['TotalPay'].mean()  #  axis: 'Axis | None' = 0, skipna: 'bool' = True, numeric_only: 'bool' = False,

74768.32197169267

In [52]:
df['TotalPay'].median()

71426.60999999999

In [53]:
df['TotalPay'].std()

50517.005273949944

In [54]:
df['TotalPay'].var()  # Degerlerin ortalama etrafindada ne kadar yayildigini Ã¶lcer. 
                      #Ciktimiz yÃ¼ksek bir deger olduguna gÃ¶re verilerin ortalmanin etrafinda genis bir sekilde yayildigini sÃ¶yleyebiliriz.

2551967821.8482866

In [80]:
df[df['Year'] == 2011]['OvertimePay'].sum()

163838794.83

In [56]:
df['TotalPayBenefits'].max()

567595.43

In [57]:
df['TotalPayBenefits'].min()

-618.13

In [58]:
df.describe()  #veri cercevesinin Ã¶zet istatistiklerini verir

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [70]:
df['Benefits'].count() #  axis: 'Axis' = 0, numeric_only: 'bool' = False

112491

In [69]:
(df['Benefits'].isna().sum())

36163

In [74]:
df['BasePay'].skew()  #Carpiklik, veri daÄŸÄ±lÄ±mÄ±nÄ±n simetrik olup olmadÄ±ÄŸÄ±nÄ± ve eÄŸilimini Ã¶lÃ§meye yarar. Cikti 0 dan bÃ¼yÃ¼kse mean median dan bÃ¼yÃ¼k
                      #ve saga carpik oldugunu gÃ¶sterir. 0 dan kÃ¼cÃ¼kse mean medyandan kÃ¼cÃ¼k ve sola carpik oldugu anlasilir.
                      #Deger 0 a cok yakinsa dagilimin nispeten simetrik oldugu anlasilir.

0.4233495805572595

In [75]:
df['OtherPay'].kurtosis()  # Kurtosis, bir veri daÄŸÄ±lÄ±mÄ±nÄ±n tepeye ne kadar sÄ±kÄ±ÅŸÄ±k veya yayÄ±ldÄ±ÄŸÄ±nÄ± Ã¶lÃ§er.
                           # Asagidaki cikti, 'OtherPay' sÃ¼tunundaki verilerin normal daÄŸÄ±lÄ±ma gÃ¶re oldukÃ§a basÄ±k bir daÄŸÄ±lÄ±ma sahip olduÄŸunu ve aynÄ± zamanda
                           # daÄŸÄ±lÄ±mÄ±n kuyruklarÄ±nÄ±n belirgin olduÄŸunu gÃ¶sterir. Normal dagilima gÃ¶re daha dik bir tepeye sahiptir.

169.79323311553736

In [76]:
df['TotalPay'].corr(df['TotalPayBenefits'])  # Iki sÃ¼tun arasÄ±ndaki Pearson korelasyon katsayÄ±sÄ±nÄ± hesaplar. 
                                             #Pearson korelasyon katsayÄ±sÄ±, iki deÄŸiÅŸken arasÄ±ndaki doÄŸrusal iliÅŸkinin gÃ¼cÃ¼nÃ¼ ve yÃ¶nÃ¼nÃ¼ Ã¶lÃ§er.
                                             #Asagidaki cikti +1 e cok yakin bir deger oldugu icin iki degisken arasinda gÃ¼clÃ¼ bir pozitif dogrusal 
                                             #iliski oldugunu, yani biri artarken digerinin de arttigini anlamis oluruz.

0.9773128522072122

In [77]:
df['TotalPay'].cov(df['TotalPayBenefits'])  # Iliskinin yÃ¶nÃ¼nÃ¼yÃ¶nÃ¼nÃ¼ gÃ¶sterir, ancak iliskinin gÃ¼cÃ¼nÃ¼ degerlendirmek icin yeterli degildir, dolayisiyla
                                  # genellikle kovaryans yerine Pearson korelasyon katsayÄ±sÄ± gibi standartlaÅŸtÄ±rÄ±lmÄ±ÅŸ Ã¶lÃ§Ã¼ler kullanÄ±lÄ±r.

3100174424.508832